body{
    background-color: aquamarine;
}
@media (max-width:480px) and (min-width:319px){
    body{
        background-color: red;
    }
}
@media (max-width:1200px) and (min-width:481px){
    body{
        background-color: green;
    }
}
@media (max-width:1600px) and (min-width:1201px){
    body{
        background-color: blue;
    }
}
@media (min-width:1601px){
    body{
        background-color: blue;
    }
}